@import "tailwindcss";
.swiper-pagination-bullet {
  @apply bg-green-300;
}
.swiper-pagination-bullet-active {
  @apply bg-green-500;
}
.swiper-button-next,
.swiper-button-prev {
  @apply text-green-300 hover:text-green-500;
}